@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
:root {
  --logocolor: #4267B2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  top: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  padding: 16px 20px;
  z-index: 1000;
  display: flex;
  background-color: #fff;
  /* justify-content: center; */
}

header .logo {
  font-family: 'Otomanopee One', sans-serif;
  color: var(--logocolor);
  letter-spacing: 1.4px;
  margin-left: 40px;
  margin-bottom: 16px;
  margin-top: 8px;
  padding: 0px 24px;
  border: solid 2px var(--logocolor);
  box-shadow: 9px 5px 8px;
  cursor: pointer;
}

header nav {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 440px;
  /* border: solid 2px grey; */
}

header nav a {
  padding: 8px 8px;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 16px;
  /* color: rgba(1, 1, 1, 0.7); */
  color: #002B3F;
}

header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #d94f5c;
}

header .separator {
  position: absolute;
  top: 85%;
  left: 0%;
  width: 100%;
  height: 15%;
  background-color: #002B3F;
}

.outer-container{
  display: block;
  width: 100%;
  border: solid 2px green;
  margin-top: 10%
}
